@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


* {
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    font-size: 0.9rem;
}


/* CONTEUDO CABEÇALHO PRINCIPAL */

header {
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #323232;
    position: fixed;
    height: 3.5rem;
    z-index: 9;
}

.navbarr {
    align-content: center;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 5px 150px;
}

.link-navbar {
    text-decoration: none;
    padding: 10px;
    color: #888787;
}
.link-navbar:hover {
    text-decoration: none;
    padding: 10px;
    color: rgb(216, 216, 216);
    transition: .5s;
}


/* CONTEUDO IPAD */



main {
    padding-top: 100px;
}

.img {
    width: 100%;
}

.text-ipad {
    padding: 200px;
}

.link-buy{ 
    font-size: 1rem;
    text-decoration: none;
}

.link-buy:hover {
    text-decoration: underline;
}

/* CONTEUDO  IPHONES */

.grid {
    position: relative;
    padding-top: 2rem;
    left: 0;
}

p {
    font-size: 1.3rem;
}


.iphone14-pro,
.ipad-pro {
    background-color: #000;
    height: 45rem;

}

.iphone14-pro img {
    height: 85%;
    padding-top: 20px;
}

.iphone14-plus{
    height: 45rem;
    background-color: #fff;
}



.font-black {
    font-size: 3rem;
    
}

.img-plus {
    width: 100%;
    padding-top: 12.4rem;
}

.font-white{
    color: #fff;
    font-size: 3rem;
    padding-top: 10px;
    z-index: 8;
}


/* APPLE TV  */

.apple-tv {
    top: 0;
    background-color: #fff;
}

.apple-logo-tv {
    width: 60%;
}

.apple-tv .control {
    width: 60%;
}

/* CAROUSEL */

.carousel {
    margin: 80px 100px;
    border: 0.5px #000 solid;
    z-index: auto;
}




/* PAGINA IPHONE */


.colums {
    width: 100%;
}

.comentario-header {
    font-size: 0.8rem;
}

.space-comentario {
    text-align: center;
} 

.text-center {
    padding-top: 2.5rem;
}

.font-gradient {
    background: -webkit-linear-gradient(#2FA2B7, #728CF4, #BB71D6, #F45291, #ED4153);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}   


.comprar-saiba {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.comprar-saiba a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
}

.btn-comprar {
    border: none;
    background-color: #0077ED;
    border-radius: 1rem;
    padding: 7.5px 10px;
    color: #fff;
}

.iphone14-big {
    width: 80rem;
}

.background-iphone14 {
    background-color: #fff;
}

.black-iphone14 {
    background-color: #000;
    padding-top: 3rem;
}

.apple-tv h5 {
    color: #000;
    padding-top: 1rem;
}


.ipad-pro img {
    background-size: contain;
    width: 100%;
}
/* CONTEUDO OPTION IPHONES  */

.option-iphone {
    padding-top: 2rem;
    text-align: center;
}

.option-iphone h5 {
    color: rgb(0, 0, 0);
}

.option-iphone h6 {
    color: rgb(202, 62, 11);
}

.option-iphone p {
    font-size: 1rem;
}

.hidden-new {
    padding-top: 1.5rem;
}

.especificacoes-iphone strong {
    font-size: 1.1rem;
}


.dynamic-island {
    padding-top: 2rem
}

.especificacoes-iphone .icon-sos {
    padding: 3rem;
}
